.navbar
  margin-bottom: 0
  background-color: $dark
  border: 0
  border-radius: 0
  border-bottom: 3px solid black
  &-brand
    height: auto
    img
      width: 250px
  .navbar-collapse
    ul
      >li
        font-family: $display
        padding: 28px 15px
        >a
          color: $light
          font-size: 1.125em
          &:hover
            color: $white

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
    color: $white
    background-color: transparent
